/* font import section */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
/* font-family: 'Merriweather', serif; */
/* font-family: 'Inter', sans-serif; */

/* universal style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
/* header/banner styles */
.header-banner {
  background: url("../resources/Banner\ Image.png");
  width: 80%;
  height: 500px;
  background-size: cover;
  border-radius: 16px;
  background-position: center;
  margin: 30px auto 40px;
  overflow: hidden;
}
.banner-text {
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: center;
  padding: 0 150px;
}
.header-banner .banner-text p {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 25px;
  font-weight: 400;
}
.header-banner .banner-text h1 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 60px;
  font-weight: 900;
  line-height: 80px;
}

/* main section greetings and offer */

.greetings-offer {
  width: 100%;
  margin-top: 40px;
}
.greetings-offer-container {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.greetings-offer-container h1 {
  color: #f00;
  font-size: 65px;
  margin-bottom: 25px;
  font-weight: 700;
}
.greetings-offer-container p {
  color: #f00;
  font-size: 20px;
  font-weight: 500;
}
.greetings-offer-container h3 {
  color: #070211;
  font-size: 35px;
  margin-bottom: 50px;
  font-weight: 700;
}
.greetings-offer-container img {
  width: 100%;
  filter: drop-shadow(10px 10px 30px rgb(0, 79, 108));
}

/* section two welcome styles */

.welcome-section {
  width: 100%;
  margin: 100px 0;
}

.welcome-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../resources/Vectorrr.png");
  height: 500px;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  border-radius: 16px;
}

.welcome-text {
  width: 60%;
  padding: 0px 40px;
}

.welcome-container img {
  width: 30%;
  max-width: 280px;
  max-height: 400px;
  margin-right: 50px;
  /* padding: 30px 0px; */
  height: inherit;
}
.welcome-container .welcome-text h1 {
  color: #fff;
  font-family: Merriweather;
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 25px;
  line-height: 60px;
  letter-spacing: 7px;
}
.welcome-container .welcome-text p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 17px;
  margin-bottom: 40px;
  line-height: 22px;
}
/* button css styles */
.btn {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 12px 30px;
  border-radius: 8px;
  border: 2px #f00 solid;
  background: #f00;
}
.btn:hover {
  background: #fff;
  cursor: pointer;
  color: #f00;
}

/* program address styles */

.address-time {
  width: 100%;
  margin-bottom: 100px;
}

.address-time-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background: linear-gradient(to bottom, #ffcdcd, #f8f5f5);
  border-radius: 16px;
}

.address-time-text {
  padding: 70px 300px 50px;
  text-align: center;
  margin-bottom: 40px;
}

.address-time-text p {
  color: #070211;
  font-size: 25px;
  font-weight: 600;
  line-height: 45px;
  text-transform: capitalize;
}
.highlighted-text {
  color: #f00;
}

.mb {
  margin-bottom: 80px;
}
